.active .upDown {
  animation: upDown 0.8s infinite alternate-reverse;
}
.AupDown {
  animation: upDown 0.8s infinite alternate-reverse;
}
.active .rotateAlways {
  animation: rotateAlways 7s infinite  both linear;
}
.rollIn {
  animation: rollIn .8s both;
}
.active .fadeInDown {
  animation: fadeInDown 1s  both;
}
.active .bounceInUp {
  animation: bounceInUp .8s both;
}
.active .bounceInLeftTobreath {
  animation: bounceInLeft 1s  both;
}
.active .bounceInRightTobreath {
  animation: bounceInRight 1s  both;
}
.active .bounceInUpTorubber {
  animation: bounceInUp 1s both,rubberBand 2s 1s infinite ;
}
.active .bounceInDown {
  animation: bounceInDown 1s both;
}
.active .bounceInRight {
  animation: bounceInRight 1s both;
}
.active .redStoneRight {
  animation: redStoneRight .8s both;
}
.breath {
  animation: breath 3s infinite alternate-reverse;
}
.active .fade {
  animation: fade 1.5s infinite both alternate-reverse;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.music {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/music-img.png) no-repeat;
  background-size: cover ;
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 2;
}
.musicMove {
  -webkit-animation: musicRoate 3s infinite linear;
  animation: musicRoate 3s infinite linear;
}
.page01 {
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.page01 .points {
  width: 100%;
  height: 100%;
  background: url(../img/763ba6_826_755.png) no-repeat;
  background-size: cover;
  margin-top: 4.4rem;
  -webkit-animation: fade 1s infinite linear alternate-reverse;
  animation: fade 1s infinite linear reverse alternate-reverse;
}
.bot-ball {
  width: 22.5rem;
  height: 10rem;
  position: absolute;
  bottom: -5%;
  left: -10%;
}
.bot-ball img {
  width: 100%;
  height: 100%;
}
.rocket {
  width: 3.25rem;
  height: 5.775rem;
  position: absolute;
  left: 40%;
  bottom: 20%;
  animation: rubberBand 1s infinite;
}
.rocket img {
  width: 100%;
  height: 100%;
}
.ufo {
  width: 8.25rem;
  height: 2.8rem;
  position: absolute;
  left: -12%;
  top: 10%;
  animation-delay: .5s !important;
}
.ufo img {
  width: 100%;
  height: 100%;
}
.star-ball01 {
  width: 3.075rem;
  height: 1.8rem;
  position: absolute;
  left: 10%;
  bottom: 25%;
  animation-delay: .8s !important;
}
.star-ball01 img {
  width: 100%;
  height: 100%;
}
.star-ball02 {
  width: 4.3rem;
  height: 4.025rem;
  position: absolute;
  right: -10%;
  bottom: 30%;
  animation-delay: .9s !important;
}
.star-ball02 img {
  width: 100%;
  height: 100;
}
.per {
  width: 6.925rem;
  height: 7.1rem;
  position: absolute;
  left: 35%;
  bottom: 20%;
  animation-delay: 1.5s !important;
}
.per img {
  width: 100%;
  height: 100%;
}
.message {
  width: 8.025rem;
  height: 8.3rem;
  position: absolute;
  left: 20%;
  top: 20%;
  animation-delay: 1.8s !important;
}
.message img {
  width: 100%;
  height: 100%;
}
.mes-txt1 {
  width: 7.35rem;
  height: 4.75rem;
  position: absolute;
  left: 22%;
  top: 26%;
  animation-delay: 2s !important;
}
.mes-txt1 img {
  width: 100%;
  height: 100%;
}
.mes-txt2 {
  width: 4.275rem;
  height: 3.1rem;
  position: absolute;
  right: 23%;
  top: 33%;
  animation-delay: 2.2s !important;
}
.mes-txt2 img {
  width: 100%;
  height: 100%;
}
.red-stone {
  width: 1.3rem;
  height: 0.9rem;
  position: absolute;
  right: 20%;
  top: 36%;
  animation-delay: 2.8s !important;
}
.red-stone img {
  width: 100%;
  height: 100%;
}
.page02 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/bg2.png) no-repeat;
  background-size: cover;
}
.page02-start {
  width: 0.725rem;
  height: 0.725rem;
  position: absolute;
}
.page02-start img {
  width: 70%;
  height: 70%;
}
.start01 {
  left: 10%;
  top: 30%;
  animation-delay: .8s !important;
}
.start02 {
  left: 85%;
  top: 61%;
  animation-delay: 1s !important;
}
.start03 {
  left: 50%;
  top: 60%;
  animation-delay: .9s !important;
}
.start04 {
  left: 61%;
  top: 73%;
  animation-delay: .8s !important;
}
.start05 {
  left: 70%;
  top: 30%;
  animation-delay: 1s !important;
}
.start06 {
  left: 40%;
  top: 20%;
  animation-delay: .8s !important;
}
.start07 {
  left: 10%;
  top: 20%;
  animation-delay: .2s !important;
}
.start8 {
  left: 90%;
  top: 70%;
}
.start9 {
  left: 10%;
  top: 60%;
  animation-delay: .2s !important;
}
.start10 {
  left: 30%;
  top: 50%;
  animation-delay: .4s !important;
}
.start11 {
  left: 8%;
  top: 64%;
  animation-delay: .3s !important;
}
.start12 {
  left: 60%;
  top: 10%;
  animation-delay: .5s !important;
}
.start13 {
  left: 38%;
  top: 9%;
  animation-delay: .8s !important;
}
.start14 {
  left: 33%;
  top: 33%;
  animation-delay: .5s !important;
}
.start15 {
  left: 21%;
  top: 21%;
  animation-delay: .3s !important;
}
.blue-ball {
  width: 12.725rem;
  height: 4.225rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -6.3625rem;
}
.blue-ball img {
  width: 100%;
  height: 100%;
}
.cat {
  width: 14.65rem;
  height: 16.625rem;
  position: absolute;
  left: 50%;
  top: 15%;
  margin-left: -7.325rem;
  animation-duration: 1s !important;
}
.cat img {
  width: 100%;
  height: 100%;
}
.sun {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: -15%;
  top: -15%;
}
.sun img {
  width: 100%;
  height: 100%;
}
.page03 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/bg2.png) no-repeat;
  background-size: cover;
}
.page03-top {
  width: 12.65rem;
  height: 4.225rem;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -6.325rem;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.page03-top img {
  width: 100%;
  height: 100%;
}
.arrowUp {
  width: 1.975rem;
  height: 1.85rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -0.9875rem;
  z-index: 3;
}
.arrowUp img {
  width: 100%;
  height: 100%;
}
