@rem:40rem;

.scroll-main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.active .upDown{
    animation: upDown .8s infinite alternate-reverse;
}

.AupDown{
    animation: upDown .8s infinite alternate-reverse;
}
.active .rotateAlways{
   animation: rotateAlways 7s infinite  both linear;
}
.active .rollIn{
    animation: rollIn .8s both;
}
.active .fadeInDown{
    animation:fadeInDown 1s  both;
}
.active .bounceInUp{
    animation:bounceInUp .8s both;
}
.active .bounceInLeftTobreath{
    animation:bounceInLeft 1s  both;
}
.active .bounceInRightTobreath{
    animation:bounceInRight 1s  both;
   
}
.active .bounceInUpTorubber{
   animation: bounceInUp 1s both,rubberBand 2s 1s infinite ;
}
.active .bounceInDown{
    animation: bounceInDown 1s both;
}
.active .bounceInRight{
    animation: bounceInRight 1s both;
}

.active .redStoneRight{
    animation: redStoneRight .8s both;
}

.active .breath{
    animation: breath 3s infinite alternate-reverse;
}

.active .fade{
    animation:fade 1.5s infinite both alternate-reverse;
}
.active .fade2{
    animation: fade2 1.5s both ;
}

html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.music{
    width: 64/@rem;
    height: 64/@rem;
    background: url(../img/music-img.png) no-repeat;
    background-size:cover ;
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 99;
   
}
.musicMove{
    -webkit-animation:musicRoate 3s infinite linear;
     animation:musicRoate 3s infinite linear;
}
.page01{
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index:4;
}
.page01 .points{
    width:100%;
    height: 100%;
    background: url(../img/763ba6_826_755.png) no-repeat;
    background-size: cover;
    
    margin-top: 176/@rem;
    -webkit-animation: fade 1s infinite linear alternate-reverse;
    animation: fade 1s infinite linear reverse alternate-reverse;
    
}
.bot-ball{
    width: 900/@rem;
    height: 400/@rem;
    position: absolute;
    bottom: -5%;
    left: -10%;
    
}

.bot-ball img{
    width: 100%;
    height: 100%;
}
.rocket{
    width: 130/@rem;
    height: 231/@rem;
    position: absolute;
    left: 40%;
    bottom: 20%;
    animation: rubberBand 1s infinite;
    
}
.rocket img{
    width: 100%;
    height: 100%;
}

.ufo{
   width: 330/@rem;
   height: 112/@rem;
   position: absolute;
   left:-12%;
   top: 10%;
   animation-delay: .5s !important;
  
}


.ufo img{
    width: 100%;
    height: 100%;
}
.star-ball01{
    width: 123/@rem;
    height: 72/@rem;
    position: absolute;
    left:10%;
    bottom: 25%;
    animation-delay: .8s !important;
   
}
.star-ball01 img{
    width: 100%;
    height: 100%;
}
.star-ball02{
    width: 172/@rem;
    height: 161/@rem;
    position: absolute;
    right:-10% ;
    bottom: 30%;
    animation-delay: .9s !important;
     
}

.star-ball02 img{
    width: 100%;
    height: 100;
    
}

.per{
    width: 277/@rem;
    height: 284/@rem;
    position: absolute;
    left: 35%;
    bottom: 20%;
    animation-delay:1.5s !important;
}
.per img{
    width: 100%;
    height: 100%;
}


.message{
    width: 321/@rem;
    height: 332/@rem;
    position: absolute;
    left: 20%;
    top: 20%;
    animation-delay: 1.8s !important;
}
.message img{
    width: 100%;
    height: 100%;
}

.mes-txt1{
    width: 294/@rem;
    height: 190/@rem;
    position: absolute;
    left: 22%;
    top: 26%;
    animation-delay: 2s !important;
}
.mes-txt1 img{
    width: 100%;
    height: 100%;
}
.mes-txt2{
    width: 171/@rem;
    height: 124/@rem;
    position: absolute;
    right: 23%;
    top: 33%;
    
    animation-delay: 2.2s !important;
    
}
.mes-txt2 img{
    width: 100%;
    height: 100%;
}


.red-stone{
    width: 52/@rem;
    height: 36/@rem;
    position: absolute;
    right: 20%;
    top: 36%;
    //transform: rotate(45deg);
    animation-delay:2.8s !important;
    img{
        width: 100%;
        height: 100%;
    }
}

.page02{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/bg2.png) no-repeat;
    background-size: cover;
     z-index:3;
}
.page04{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/bg2.png) no-repeat;
    background-size: cover;
     z-index:1;
}
.page02-start{
    width: 29/@rem;
    height: 29/@rem;
    position: absolute;
    
    img{
        width: 70%;
        height: 70%;
    }
}
.start01{
    left: 10%;
    top: 30%;
    animation-delay: .8s !important;
}

.start02{
    left: 85%;
    top: 61%;
    animation-delay: 1s !important;
}
.start03{
    left: 50%;
    top: 60%;
    animation-delay: .9s !important;
}
.start04{
    left: 61%;
    top: 73%;
    animation-delay: .8s !important;
}
.start05{
    left: 70%;
    top: 30%;
    animation-delay: 1s !important;
}
.start06{
    left: 40%;
    top: 20%;
    animation-delay: .8s !important;
    
}
.start07{
    left: 10%;
    top: 20%;
    animation-delay: .2s !important;
}
.start8{
    left: 90%;
    top: 70%;
}
.start9{
    left: 10%;
    top: 60%;
    animation-delay: .2s !important;
}
.start10{
    left: 30%;
    top: 50%;
    animation-delay: .4s !important;
}
.start11{
    left: 8%;
    top: 64%;
    animation-delay: .3s !important;
}
.start12{
    left: 60%;
    top: 10%;
    animation-delay: .5s !important;
}
.start13{
    left: 38%;
    top: 9%;
    animation-delay: .8s !important;
}
.start14{
    left: 33%;
    top: 33%;
    animation-delay: .5s !important;
}
.start15{
    left: 21%;
    top: 21%;
    animation-delay: .3s !important;
}
.blue-ball{
    width: 509/@rem;
    height: 169/@rem;
    position: absolute;
    left:50%;
    bottom: 0;
    margin-left: -(509/@rem)/2;
    img{
        width: 100%;
        height: 100%;
    }
}
.cat{
    width: 586/@rem;
    height: 665/@rem;
    position: absolute;
    left:50%;
    top:15%;
    margin-left: -(586/@rem)/2;
    animation-duration: 1s !important;
    img{
        width: 100%;
        height: 100%;
    }
}
.sun{
    width: 280/@rem;
    height: 280/@rem;
    position: absolute;
    left: -15%;
    top: -15%;
    img{
        width: 100%;
        height: 100%;
        
    }
}

.page03{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    background:url(../img/bg2.png) no-repeat;
    background-size: cover;
    z-index: 2;
}
.page03-top{
    width: 506/@rem;
    height: 169/@rem;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -(506/@rem)/2;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    img{
        width: 100%;
        height: 100%;
    }
}
.per-info{
    width: 200/@rem;
    height:46/@rem;
    position: absolute;
    left: 32%;
    top: 20%;
    img{
        width: 100%;
        height: 100%;
    }
}
.page03-r{
    width: 389/@rem;
    height: 178/@rem;
    position: absolute;
    right: -7%;
    top: 30%;
    img{
        width: 100%;
        height: 100%;
        
    }
}
.page03-p{
    width: 277/@rem;
    height: 284/@rem;
    position: absolute;
    left: -5%;
    bottom: 10%;
    img{
        width: 100%;
        height: 100%;
    }
}
.p3-name{
    width: 174/@rem;
    height: 30/@rem;
    position: absolute;
    left: 15%;
    top:30%;
    img{
        width: 100%;
        height: 100%;
    }
}
.p3-age{
    width: 122/@rem;
    height: 30/@rem;
    position: absolute;
    left:15%;
    top:35%;
    img{
        width: 100%;
        height: 100%;
    }
}
.p3-sex{
    width: 103/@rem;
    height: 30/@rem;
    position: absolute;
    left: 15%;
    top: 40%;
    img{
        width: 100%;
        height: 100%;
    }
}
.p3-pos{
    width: 136/@rem;
    height: 30/@rem;
    position: absolute;
    left: 15%;
    top: 45%;
    img{
        width: 100%;
        height: 100%;
    }
}

.p3-edu{
    width: 293/@rem;
    height: 30/@rem;
    position: absolute;
    left: 15%;
    top: 50%;
    img{
        width: 100%;
        height: 100%;
    }
}
.p3-tel{
    width:310/@rem;
    height: 30/@rem;
    position: absolute;
    right: 12%;
    top: 60%;
    img{
        width: 100%;
        height: 100%;
    }
}
.p3-qq{
    width: 240/@rem;
    height: 30/@rem;
    position: absolute;
    right: 22%;
    top: 65%;
    img{
        width: 100%;
        height: 100%;
    }
}
.p3-email{
    position: absolute;
    top:70%;
    right: 3%;
    width: 399/@rem;
    height: 30/@rem;
    img{
        width: 100%;
        height: 100%;
    }
}

.small-ufo{
    width: 361/@rem;
    height: 246/@rem;
    position: absolute;
    left: 52%;
    top: 6%;
    img{
        width: 100%;
        height: 100%;
    }
}
.page4-star{
    position: absolute;
    left:-31%;
    bottom: 6%;
    width: 528/@rem;
    height: 456/@rem;
    img{
        width: 100%;
        height: 100%;
    }
}
.p4-title{
    width: 230/@rem;
    height: 60/@rem;
    position: absolute;
    left: 50%;
    top: 14%;
    margin-left: -(230/@rem)/2;
    img{
        width: 100%;
        height: 100%;
    }
}
.sx{
    color: #fff;
    font-size: 50/@rem;
    position: absolute;
    
}
.sx01{
    left:27%;
    top: 25%;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    animation-delay: .2s !important;
}
.sx02{
    left:42%;
    top: 34%;
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
    animation-delay: .4s !important;
}
.sx03{
    left:9%;
    top: 35%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    font-size: 30/@rem;
     animation-delay: .6s !important;
    
}
.sx04{
    left:56%;
    top: 50%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    font-size: 45/@rem;
    
     animation-delay: .8s !important;
}
.sx05{
    left:36%;
    top: 44%;
    -webkit-transform: rotate(0);
    transform: rotate(0);
     font-size: 40/@rem;
      animation-delay: 1s !important;
}
.sx06{
    left:80%;
    top: 56%;
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
     animation-delay: 1.2s !important;
}
.sx07{
    left:51%;
    top: 28%;
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
    font-size: 40/@rem;
     animation-delay: 1.4s !important;
}
.sx08{
    left:2%;
    top: 43%;
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
      font-size: 40/@rem;
       animation-delay: 1.6s !important;
}
.sx09{
    left:72%;
    top: 35%;
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
     animation-delay: 1.8s !important;
}
.sx10{
    left:43%;
    top: 54%;
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
     animation-delay: 2s !important;
}
.sx11{
    left:21%;
    top: 57%;
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
    font-size: 30/@rem;
     animation-delay: 2.2s !important;
}
.sx12{
    left:51%;
    top: 61%;
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
    font-size: 30/@rem;
     animation-delay: 2.4s !important;
}
.sx13{
    left:20%;
    top: 51%;
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
    font-size: 30/@rem;
     animation-delay: 2.6s !important;
}
.sx14{
    left:38%;
    top: 67%;
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
     font-size: 35/@rem;
      animation-delay: 2.8s !important;
}
.sx15{
    left:55%;
    top: 43%;
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
     animation-delay: 3s !important;
   
    font-size: 40/@rem;
}
.arrowUp{
    width: 79/@rem;
    height: 74/@rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    
    margin-left: -(79/@rem)/2;
    z-index: 99;
    
    img{
        width: 100%;
        height: 100%;
    }
}

